div>div{

	border-style: double;
	width: 800px;
	float: right;
	
}
.papa{
	border-style: double;
	width: 1000px;

}

.adentro{

	border-style: dotted;
	background-color: red;
	height:150px;
	width: 250px;
	

	
}
.amarillo{
	background-color: yellow;

}

.verde{
	background-color: green;
}
.clearfix:before, .clearfix:after{
	content: "";
	display:table;
}

.clearfix:after{
	clear:both;
}